.category {
  color: #0059bf;
  font-size: 14px;
  font-family: Verdana, sans-serif; }

.title {
  color: #000000;
  font-size: 24px;
  font-family: Verdana, sans-serif; }

.description {
  color: #606669;
  font-size: 16px;
  font-family: Garamond, serif; }
